<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DawgDash</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>dawgdash.controllers.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeliveryController</display-name>
    <servlet-name>DeliveryController</servlet-name>
    <servlet-class>dawgdash.controllers.DeliveryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeliveryController</servlet-name>
    <url-pattern>/DeliveryController</url-pattern>
    <url-pattern>/Delivery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EchoServlet</display-name>
    <servlet-name>EchoServlet</servlet-name>
    <servlet-class>dawgdash.controllers.EchoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EchoServlet</servlet-name>
    <url-pattern>/EchoServlet</url-pattern>
    <url-pattern>/Echo</url-pattern>
  </servlet-mapping>
</web-app>